nav {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  font-family: "Satisfy";
  color: $green;

  h1 {
    font-size: 3rem;
  }

  ul {
    display: flex;
    gap: 30px;
    font-size: 1.5rem;
    list-style: none;

    .nav-link {
      color: $green;
      text-decoration: none;
      transition: all 0.3s ease-in;

      &:hover {
        color: $light-green;
        text-decoration: underline;
      }
    }
  }
}

main {
  display: flex;
}
